# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\RPA Data\lectures\Devops Project\Terraform for cloud state Management Converted\terraform-aws-vprofile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
